BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
NamespaceIndentation: All
ContinuationIndentWidth: 4
AlignConsecutiveMacros: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignEscapedNewlines: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Preserve
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
AlwaysBreakTemplateDeclarations: true
IndentPPDirectives: BeforeHash
TabWidth: 4
UseTab: Never
SortIncludes: true
IncludeCategories:
  - Regex:           '^<.*>$'
    Priority:        1
  - Regex:           '^".*"$'
    Priority:        2
